<h2 class="text-center">Epic Energy Service</h2>
<div class="container-fluid d-flex text-center justify-content-center" style="margin-top: 50px;">
    <section class="me-5">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvKdm6l7Sa2W0iLIa0P8rxT7UiKR7HcYExOA&usqp=CAU" alt="">
    </section>
    <form #form="ngForm" (ngSubmit)="accedi(form)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required ngModel>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required ngModel>
        </div>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Accedi</button>
    </form>
</div>
